{% extends 'base.html' %} 
{% block body_site_page %} 
  {% if op_journal_entry.substation in request.user.admin_opj.all or op_journal_entry.substation in request.user.administrative_staff.all or op_journal_entry.substation in request.user.operational_staff.all %} 
    <style> 
      .form-group input, 
      .form-group textarea { 
          height: 3em; 
          background-color: #f4f4f4; /* меняем цвет фона на серый */ 
      } 
      form { 
          width: 100%; /* задаем ширину формы */ 
      } 
      button { 
          margin-top: 1em; 
      } 
    </style> 
    <div class="container"> 
      <h2>Запись внес {{ op_journal_entry.user }} в оперативный журнал {{ op_journal_entry.substation }}</h2> 
      <table class="table table-bordered border-primary"> 
        <colgroup> 
          <col style="width: 25%;"> 
          <col style="width: 75%;"> 
        </colgroup> 
        <thead> 
          <tr> 
            <th scope="col">Форма</th> 
            <th scope="col">Содержание</th> 
          </tr> 
        </thead> 
        <tbody> 
          <tr> 
            <th scope="row">Идентификатор записи:</th> 
            <td>{{ op_journal_entry.id }}</td> 
          </tr> 
          <tr> 
            <th scope="row">Объект:</th> 
            <td>{{ op_journal_entry.substation }}</td> 
          </tr>
          <tr> 
            <th scope="row">Время выполнения действи:</th> 
            <td>{{ op_journal_entry.pub_date }}</td> 
          </tr> 
          {% if op_journal_entry.substation in request.user.admin_opj.all  %} 
          <tr> 
            <th scope="row">Время создания записи:</th> 
            <td>{{ op_journal_entry.real_date }}</td> 
          </tr> 
          {% endif %} 
          <tr> 
            <th scope="row">Запись внес:</th> 
            <td>{{ op_journal_entry.user_signature }}</td> 
          </tr> 
          <tr> 
            <th scope="row">Содержание:</th> 
            <td>{{ op_journal_entry.text }}</td> 
          </tr> 
          {% if op_journal_entry.files.all %} 
          <tr> 
            <th scope="row">Прикреплены следующие файлы:</th> 
            <td> 
              {% for file in op_journal_entry.files.all %} 
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:"OPJ/" }}</a><br> 
              {% endfor %} 
            </td> 
          </tr> 
          {% endif %} 
          {% if op_journal_entry.comment %} 
          {% if op_journal_entry.substation in request.user.admin_opj.all  %} 
          <tr> 
            <th scope="row">Время создания комментария:</th> 
            <td>{{ op_journal_entry.comment.real_date }}</td> 
          </tr> 
          {% endif %} 
          <tr> 
            <th scope="row">Комментарий оставил:</th> 
            <td> {{ op_journal_entry.comment.user_signature }} </td> 
          </tr>
          <tr> 
            <th scope="row">Содержание комментария:</th> 
            <td> {{ op_journal_entry.comment.text }} </td> 
          </tr>
          {% endif %} 
          {% if op_journal_entry.special_regime_introduced %} 
          <tr> 
            <th scope="row">Введен особый режим работы:</th> 
            <td> Да </td> 
          </tr> 
          {% endif %} 
          {% if op_journal_entry.emergency_event %} 
          <tr> 
            <th scope="row">Фиксация аварийного отключения, пожара или несчастного случая:</th> 
            <td> Да </td> 
          </tr> 
          {% endif %} 
          {% if op_journal_entry.short_circuit %} 
          <tr> 
            <th scope="row">Фиксация короткого замыкания на СШ 6-35 кВ:</th> 
            <td> Да </td> 
          </tr> 
          {% endif %} 
        </tbody> 
      </table> 
      <form method="post"> 
        {% csrf_token %} 
        {{ form.as_p }}
        <button class="btn btn-primary" onclick="window.history.back()">Вернуться назад</button>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button> 
      </form> 
    </div> 
  {% else %} 
    <h2 class="text-center">Отказано в доступе к записе номер {{ op_journal_entry.id }}.</h2>
    <h3 class="text-center">Если Вы считаете, что это ошибка, свяжитесь с администратором.</h3> 
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary" onclick="window.history.back()">Вернуться назад</button>
  </div> 
  {% endif %} 
{% endblock body_site_page %}