{% load static %}
{% load widget_tweaks %}

<style>
  th:nth-child(1) {
    width: 13%;
  }
  th:nth-child(2) {
    width: 62%;
  }
  th:nth-child(3) {
    width: 20%;
  }
  #id_text {
    width: 100%;
    height: 4em;
    word-wrap: break-word;
  }
  #autocomplete-text {
    word-wrap: break-word;
  }
  .btn-group .btn {
    flex: 1;
    margin-right: 20px;
  }
  .mb-3 label,
  .mb-3 input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
  }
  .clickable-cell {
    cursor: pointer;
  }
  .active {
    background-color: green; /* Цвет фона при активном состоянии */
    color: white; /* Цвет текста при активном состоянии */
}
</style>

<script type="text/javascript">
  console.log(autocompleteUrl);
  $(function() {
      var autocompleteUrl = $('#id_text').data('autocomplete-url'); // Получаем URL из данных поля
      $('#id_text').autocomplete({
          source: function(request, response) {
              // Проверяем длину введенной строки
              if (request.term.length > 10) {
                  // Если строка больше 10 символов, не отправляем запрос
                  // и очищаем список автодополнения, затем прерываем выполнение
                  response([]);
                  return false; // Прерываем выполнение функции
              }
              // AJAX-запрос отправляется только если строка меньше или равна 10 символам
              $.ajax({
                  url: autocompleteUrl,
                  data: {
                      term: request.term
                  },
                  dataType: 'json',
                  success: function(data) {
                      response(data);
                  }
              });
          },
          minLength: 2,  // Минимальная длина строки для начала поиска
          select: function(event, ui) {
              $('#id_text').val(ui.item.value);
              return false;
          }
      });
  });
</script>

<div class="d-flex justify-content-center">
  {% if user.is_authenticated %}
    {% with user.last_name as last_name %}
      {% with user.first_name|slice:"1" as first_initial %}
        {% with user.middle_name|slice:"1" as middle_initial %}
          {% with full_name=last_name|add:" "|add:first_initial|add:"."|add:middle_initial|add:"." %}
            {% with full_name|title as user_name %}
              <p class="navbar-text ml-2 text-danger h3">Вы авторизованы как {{ user.position }} 
                {% if user.main_place_work %} 
                  {{ user.main_place_work }}
                {% else %}
                  {{ user.substation_group.name_rp }}
                {% endif %}
                {{ user_name }}</p>
            {% endwith %}
          {% endwith %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
  {% endif %}
</div>

<hr class="w-100">
<div class="card-body">
  <p class="d-flex justify-content-center btn-group mt-3">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
      Поиск
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample2">
      Выгрузить записи
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample3">
      Отклонения от исходной схемы
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample3">
      Законченные работы
    </button>
  </p>
  <div class="collapse" id="collapseExample2">
    <div class="d-flex justify-content-center"><h2>Поиск по содержанию записей/по дате:</h2></div><br>
      <div class="d-flex justify-content-center">
        <form method="get" action="" class="search-form">
          <div class="d-flex flex-row align-items-center">
            <input type="text" name="query" placeholder="Поиск по тексту" class="w-50 mr-2">
            <div style="width: 10px;"></div>
            <input type="date" name="start_date" style="width: 180px;" class="mr-2">
            <div style="width: 10px;"></div>
            <input type="date" name="end_date" style="width: 180px;" class="mr-2">
            <div style="width: 10px;"></div>
            <button type="submit" class="btn btn-primary">Поиск</button>
            <div style="width: 25px;"></div>
            <button type="submit" name="reset" class="btn btn-primary ml-2">Сбросить</button>
          </div>
        </form>
      </div>
  </div>
  <div class="collapse" id="collapseExample3">
    <div class="d-flex justify-content-center"><h2>Выгрузить записи за период:</h2></div>
    <div class="d-flex justify-content-center">
      <form method="post" action="{% url 'export_records' substation_slug=substation_slug %}">
        {% csrf_token %}
        <input type="date" name="start_date" style="width: 180px;" class="mr-2" required>
        <input type="date" name="end_date" style="width: 180px;" class="mr-2" required>
        <button class="btn btn-primary" type="submit">Выгрузить в PDF</button>
      </form>
    </div>
  </div>
  <div class="collapse" id="collapseExample4">
    <div class="card card-body">
      <div class="d-flex justify-content-center"><h2>Текущие отклонения от исходной схемы</h2></div> 
      <div class="d-flex justify-content-center"><h2>{{ substation.name }}</h2></div>
      <ul>
        <hr class="w-100">
        <div class="table-responsive">
          <table class="table table-bordered border-primary table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Дата и время вывода оборудования в ремонт/допуска персонала</th>
                    <th class="text-center" scope="col">Содержание записи о выводе в ремонт оборудования/допуске персонала</th>
                </tr>
            </thead>
            <tbody>
                {% for repair in filtered_model_op_journal_data %}
                <tr>
                    <td>
                        {{ repair.pub_date }}
                    </td>
                    <td class="{% if repair.special_regime_introduced %}border border-danger border-5{% endif %}">
                        {{ repair.text }}<br>
                        {% if repair.files.all %}
                          Прикрепленные файлы:
                          {% for file in repair.files.all %}
                            <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:"OPJ/" }}</a>
                            {% if not forloop.last %}, {% endif %}
                          {% endfor %}
                          <br>
                        {% endif %}
                        {{ repair.user_signature }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
      </ul>
      {% if substation.dispatch_point %}
        {% for substation_name, substation_records in records_by_substation.items %}  
          <div class="d-flex justify-content-center"><h2>{{ substation_name }}</h2></div>  
          {% if substation_records %}  
              <ul>  
                  <div class="table-responsive">  
                      <table class="table table-bordered border-primary table-hover">  
                          <thead>  
                              <tr>  
                                  <th class="text-center" scope="col">Дата и время вывода оборудования в ремонт/допуска персонала</th>  
                                  <th class="text-center" scope="col">Содержание записи о выводе в ремонт оборудования/допуске персонала</th>  
                              </tr>  
                          </thead>  
                          <tbody>  
                              {% for record in substation_records %}  
                                  <tr>  
                                      <td>{{ record.pub_date }}</td>  
                                      <td class="{% if record.special_regime_introduced %}border border-danger border-5{% endif %}">  
                                          {{ record.text }}<br>
                                          {% if record.files.all %}
                                            Прикрепленные файлы:
                                            {% for file in record.files.all %}
                                              <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:"OPJ/" }}</a>
                                              {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            <br>
                                          {% endif %}
                                          {{ record.user_signature }}  
                                      </td>  
                                  </tr>  
                              {% endfor %}  
                          </tbody>  
                      </table>  
                  </div>  
              </ul>  
        {% endif %}  
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="collapse" id="collapseExample9">
    <div class="d-flex justify-content-center"><h2>Завершенные работы за последние {{ RETENTION_PERIOD_COMPLETED_RECORDS }} дней.</h2></div>  
    <ul>  
        <div class="table">  
            <table class="table table-bordered border-primary table-hover">  
                <thead>  
                  <tr>  
                      <th class="text-center" scope="col" style="width: 12%;">Дата и время записи вывода в ремонт/допуска бригады</th>  
                      <th class="text-center" scope="col" style="width: 38%;">Содержание записи о выводе в ремонт/допуска бригады</th> 
                      <th class="text-center" scope="col" style="width: 12%;">Дата и время записи ввода в работу/окончания работ</th>  
                      <th class="text-center" scope="col" style="width: 38%;">Содержание записи о вводе в работу/окончании работ</th>
                  </tr>
                </thead>  
                {% for disabling in disabling_model_op_journal_data %}  
                <tbody>  
                        <tr>  
                            <td>{{ disabling.important_event_date_start }}</td>
                            <td>{{ disabling.text }}<br>
                                {% if disabling.files.all %}
                                Прикрепленные файлы:
                                  {% for file in disabling.files.all %}
                                    <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:"OPJ/" }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}<br>
                                {% endif %}
                                {{ disabling.user_signature }}</td>
                            <td>{{ disabling.important_event_date_over }}</td>
                            <td>{% for entry in disabling.closing_entry.all %}
                                    {{ entry.text }}<br>
                                      {% if entry.files.all %}
                                    Прикрепленные файлы:
                                      {% for file in entry.files.all %}
                                        <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:"OPJ/" }}</a>
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}<br>
                                    {% endif %}
                                    {{ entry.user_signature }}
                                {% endfor %}</td>
                        </tr>
                </tbody> 
                {% endfor %} 
            </table>  
        </div>  
    </ul>
  </div>
</div>

{% if has_permission %}
<hr class="w-100">
<div style="width: 80%; margin: 0 auto;">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label id="autocomplete-text" for="id_text" class="form-label text-break">Содержание:</label>
      {{ form.text }}
      {% if form.text.errors %}
        <div class="text-danger">
          {% for error in form.text.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      <label for="id_pub_date" class="form-label">Время выполнения действия:</label>
      {{ form.pub_date }}
      {% if form.pub_date.errors %}
          <div class="text-danger">
              {% for error in form.pub_date.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% endif %}
      {% if form.file.errors %}
          <ul class="errorlist" style="color: red;">
              {% for error in form.file.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
  </div>


    <div class="btn-group-toggle" data-toggle="buttons">
    <p>
      <label class="btn btn-primary">
        <input type="checkbox" id="important_event_checkbox" name="important_event_checkbox">
        Вывод в ремонт/допуск бригады
      </label>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
        Оборудование введено/работы окончены
      </a>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Добавить особые параметры
      </a>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
        Загрузить доп. материалы
      </a>
    </p>
  </div>

  <div class="collapse" id="collapseExample7">
    <div class="card card-body">
      Выберите из выпадающего списка запись, касающуюся вывода оборудования (допуска бригады), для исключения ее из отклонений. <br>
      {{form.existing_entry}}
    </div>
  </div>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <label for="id_special_regime_introduced" class="form-label">Введен особый режим работы:</label>
        {{ form.special_regime_introduced }}
        {% if form.special_regime_introduced.errors %}
          <div class="text-danger">
            {% for error in form.special_regime_introduced.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
        <br>
        <label for="id_emergency_event" class="form-label">Случилось чрезвычайное событие: отключение, ЧП и т.д.:</label>
        {{ form.emergency_event }}
        {% if form.emergency_event.errors %}
          <div class="text-danger">
            {% for error in form.emergency_event.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
        <br>
        <label for="id_short_circuit" class="form-label">Короткое замыкание в сети 6-35 кВ:</label>
        {{ form.short_circuit }}
        {% if form.short_circuit.errors %}
          <div class="text-danger">
            {% for error in form.short_circuit.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="collapse" id="collapseExample6">
      <div class="card card-body">

        <div class="mb-3">
          <label for="id_file" class="form-label">Прикрепить файлы:</label>
          {{ form.file }}
          {% if form.file.errors %}
            <div class="text-danger">
              {% for error in form.file.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
          <br>
          Допускается загрузка от 1 до 5 файлов форматов jpg, jpeg, png и pdf. Размер каждого файла не должен превыщать 5 МБ.<br>
          Если вы хотите добавить несколько файлов, то все они должны располагаться в одной папке. Чтобы выбрать несколько файлов, нажмите CTRL и укажите файлы.
        </div>
      </div>
    </div>
    {{ form.substation|attr:"id:autocomplete-input" }}
    <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary" type="button">Добавить запись</button>
    </div>
  </form>
</div>
{% endif %}

<hr class="w-100">
<div class="d-flex justify-content-center"><h2>Внесённые записи в оперативный журнал {{substation.name}}</h2></div>  
<div class="table-responsive">
  <table class="table table-bordered border-primary table-hover">
    <thead>
      <tr>
        <th class="text-center" scope="col">Дата и время записи</th>
        <th class="text-center" scope="col">Содержание записей в течение смены, подписи о приёмке и сдаче смены</th>
        <th class="text-center" scope="col">Визы и замечания административно-технического персонала</th>
      </tr>
    </thead>
    <tbody>
      {% for post in model_op_journal_data %}
        <tr>
          <td class="clickable-cell {% if post.emergency_event and not post.short_circuit %}bg-danger text-white{% elif not post.emergency_event and post.short_circuit %}bg-primary text-white{% elif post.emergency_event and post.short_circuit %}bg-warning border border-primary text-white{% endif %} text-wrap" onclick="window.location.href='{% url 'op_journal_edit' post.pk %}'">
            {{ post.pub_date }}
          </td>
          <td class="{% if post.special_regime_introduced %}border border-danger border-5{% endif %}">
            {% if post.entry_is_valid == False %}
            ОШИБОЧНАЯ ЗАПИСЬ!<br><strike>{{ post.text }}<br>
            {% if post.files.all %}
              Прикрепленные файлы:
              {% for file in post.files.all %}
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:"OPJ/" }}</a>
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
              <br>
            {% endif %}
            {{ post.user_signature }}</strike>
            {% else %}
            {{ post.text }}<br>
            {% if post.files.all %}
              Прикрепленные файлы:
              {% for file in post.files.all %}
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|cut:"OPJ/" }}</a>
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
              <br>
            {% endif %}
            {{ post.user_signature }}
            {% endif %}
          </td>
          <td>
            {% if post.comment %}
              <div style="word-wrap: break-word;">
                {{ post.comment.text }}<br>{{ post.comment.user_signature }}
              </div>
            {% else %}
              <form id="comment-form-{{ post.pk }}" method="post" action="{% url 'add_comment' post.pk %}">
                {% csrf_token %}
                {{ comment_form.text }}
                <button type="submit" style="display: none;">Добавить комментарий</button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="row justify-content-md-center">
  {% if is_paginated %}
  <div class="col-2 my-auto text-center-md">
    <nav aria-label="...">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
        {% endif %}
        <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %}active{% endif %}"><a class="page-link" style="width: 100px;">Стр. {{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="pagination-form mt-2">
      <form action="" method="get">
        <input type="number" name="page" min="1" max="{{ page_obj.paginator.num_pages }}" placeholder="Страница">
        <input class="btn btn-primary" type="submit" value="Перейти">
      </form>
    </div>
  </div>
  {% endif %}
</div>

<script>
  document.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      let formId = event.target.closest("td").querySelector("form").id;
      document.getElementById(formId).submit();
    }
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("deviation-scheme-button").addEventListener("click", function() {
      this.classList.toggle("active");
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var toggleButton = document.getElementById("special-params-toggle");
    var specialParamsDiv = document.getElementById("special-params");
    toggleButton.addEventListener("click", function() {
      if (specialParamsDiv.style.display === "none") {
        specialParamsDiv.style.display = "block";
      } else {
        specialParamsDiv.style.display = "none";
      }
    });
  });

  document.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      let formId = event.target.closest("td").querySelector("form").id;
      document.getElementById(formId).submit();
    }
  });

  var currentDate = new Date().toISOString().split('T')[0];

  document.addEventListener("DOMContentLoaded", function() {
    var cells = document.querySelectorAll(".clickable-cell");
    cells.forEach(function(cell) {
      cell.addEventListener("click", function() {
        var href = this.getAttribute("data-href");
        if (href) {
          window.location.href = href;
        }
      });
    });
  });
</script>