Markup


{% extends "admin/change_form.html" %}
{% block extrahead %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function() {
            // Сохранение начального значения dispatcher_for при загрузке страницы
            var initialDispatcherForValue = $('#id_dispatcher_for').val();

            // Обработчик события изменения значения dispatch_point
            $('#id_dispatch_point').change(function() {
                if ($(this).is(':checked')) {
                    // Если dispatch_point выбран, разблокировать поле dispatcher_for
                    $('#id_dispatcher_for').prop('disabled', false);
                } else {
                    // Если dispatch_point не выбран, заблокировать поле dispatcher_for и восстановить его значение
                    $('#id_dispatcher_for').prop('disabled', true);
                    $('#id_dispatcher_for').val(initialDispatcherForValue);
                }
            });

            // Инициализация состояния полей при загрузке страницы
            if (!$('#id_dispatch_point').is(':checked')) {
                $('#id_dispatcher_for').prop('disabled', true);
                $('#id_dispatcher_for').val(initialDispatcherForValue);
            }
        });
    </script>
    <style>
        #id_dispatcher_for[disabled] {
            pointer-events: none;
            background: #eee;
        }
    </style>
{% endblock %}